<div class="row">
	<div class="col-lg-12">
		<h1><%= @topic.title%></h1>
		<p><%= @topic.body%></p>
		<small class="details">
			<span class="forum-details">
				<%= link_to @topic.forum.name,@topic.forum%>
			</span>
			<%= link_to @topic.user.username,profile_path(@topic.user)%> tarafından <%= time_ago_in_words @topic.created_at%> önce oluşturuldu.
		</small>
	</div>
	<div class="col-lg-12">
		<h4>Konuya yorum yapın</h4>
		<%= render "form"%>
	</div>
</div>