<%= form_for form_params(@forum,@topic) do |form|%>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 border bg-dark kutu">
			<div class="row">
				<div class="mb-4">
					<%= form.text_field :title,class:"form-control",placeholder:"Başlık"%>
				</div>
				<div class="mb-4">
					<%= form.text_area :body,class:"form-control text_area",placeholder:"Konu içeriği"%>
				</div>
				<%= form.submit "Konu oluştur",class:"btn btn-primary button float-right"%>
			</div>
		</div>
		<div class="col-lg-1"></div>
	</div>
	<div class="row">
		<%= render partial:"layouts/form_errors",locals:{object:@topic}%>
	</div>
<%end%>