<div class="row">
	<div class="col-sm-10">
		<h5><%= link_to topic.title,topic%></h5>
		<%# markdown topic.body%>
		<%= markdown truncate(topic.body,length:50,escape:false),links:false%>
		<% unless params[:action] == "show" && params[:controller] == "forums"%>
			<span class="forum-name">
				<%= link_to topic.forum.name,topic.forum%>
			</span>
		<%end%>
		<%= topic_info(topic)%>
		<div class="col-sm-2 text-center">
			<strong><%= topic.comments_count%></strong><br>Yanıt
		</div>
	</div>
</div>
<hr>