<div class="row">
	<h1><%= @topic.title%></h1>
	<p><%= markdown @topic.body%></p>
	<%= topic_info(@topic)%>
</div>
<div class="row">
	<%= link_to "Yorum ekle",new_topic_comment_path(@topic),class:"btn btn-primary" if signed_in?%>
	<% if current_user == @topic.user%>
		<%= link_to "Düzenle",edit_comment_path(@topic),class:"btn btn-warning"%>
		<%= link_to "Sil",@topic,class:"btn btn-danger",method: :delete,data:{confirm:"Emin misiniz,bu işlem geri alınamaz"}%>
	<%end%>
</div>
<div class="row">
	<h2>Yorumlar (<%= @topic.comments.count%>)</h2>
	<%= render @topic.comments%>
</div>